* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3c3c3c;
    font-family: Candara, sans-serif;
}

header {
    background-color: #212121;
    color: #d0d0d0;
    text-align: center;
    padding: 1.5rem;
}

nav li {
    display: inline-block;
    width: 6.25rem;
    font-size: 1.25rem;
}

h1, h2 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    padding-top: 3.75rem;
    padding-bottom: 1.25rem;
}

h1 {
    text-decoration: underline;
}

#paletteblue, #palettered, #palettegreen, #paletteyellow {
    text-align: center;
}

.blue, .red, .green, .yellow {
    display: inline-block;
    padding: 2.5rem 3.125rem;
    margin: 0.5rem;
    height: 9.375rem;
    width: 15.625rem
}

#colors, #fonts {
    border: grey solid 0.125rem;
    margin: 3.125rem 25rem;
    padding: 3.125rem 9.375rem;
    border-radius: 6.25rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}


/* MENU SUBMENU */
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 0.625rem;
    color: #d0d0d0;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: black;
}

ul.submenu {
    display: none;
    position: absolute;
    top: 2.5rem;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 0.625rem;
    color: white;
    background-color: #212121;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/* UP BUTTON */
.topbutton {
    width: 6.25rem;
    border:0.125rem solid #ccc;
    background: #d0d0d0;
    text-align:center;
    padding: 0.625rem;
    position:fixed;
    bottom: 3.125rem;
    right: 3.125rem;
    cursor:pointer;
    color:black;
    font-size: 0.9375rem;
    border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -khtml-border-radius: 0.3125rem;
}

/* FONTS */
.playfair {
    font-family: 'Playfair Display', serif;
}

.noto {
    font-family: 'Noto Serif', serif;
}

.grenze {
    font-family: 'Grenze', serif;
}

.lora {
    font-family: 'Lora', serif;
}

#paletteblue .blue {
    
}
